body {
  margin: 0;
}

.screenOut {
  transform: translate(150%);
  opacity: 0;
}

.screenIn {
  transform: translate(0);
  opacity: 1;
}

.smoothScrollPage {
  position: absolute;
  transition: all 0.15s linear;
}
